<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index</title>
    </head>
    <body>
        <form action="/poem" method="post">
            <div class="input-group">
              <span class="input-group-addon">email</span>
              <input type="text" class="form-control" placeholder="" name="email">
            </div>
            <div class="input-group">
              <span class="input-group-addon">name</span>
              <input type="text" class="form-control" placeholder="" name="name">
            </div>

            <div class="input-group">
              <span class="input-group-addon"></span>
              <input type="submit">
            </div>

        </form>

    </body>
</html>
